{% extends "DCCRMBundle::layout.html.twig" %}

{% block body %}
	<h3>{{ module|capitalize }}: {{ entity.name }} </h3>
	{{ form_errors(edit_form) }}
	{{ form_start(edit_form) }}
	{{ form_widget(edit_form._token) }}
	
	<div class="view-header-buttons">

	{% for button in metadata.buttons %}
		{% if button is iterable %}
			<button type="button" class="btn btn-primary" onclick="{{ button.click }}">{{ button.label }}</button>
		{% else %}
			{{ form_widget(attribute(edit_form, button)) }}
		{% endif %}
		
	{% endfor %}
	</div>

	<table width="100%" class="show-view">
		{% for row in metadata.rows %}
			<tr>
				{% for cell in row %}
					<td class="field-label"> {{ form_label(attribute(edit_form, cell.name)) }} </td>
					<td>    {{ form_widget(attribute(edit_form, cell.name)) }} </td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>

	{{ form_end(edit_form, {'render_rest': false}) }}
{% endblock %}