{% extends "DCCRMBundle::layout.html.twig" %}


{% block body %}

<script type="text/javascript" src="{{ asset('bundles/dccrm/js/dashboard-manager.js') }}"></script>

<script>
$(function(){ //DOM Ready
    DashboardManager.init();
});
</script>

<!-- Modal -->
<div class="modal fade" id="dashletSelect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
</div><!-- /.modal -->
<h1><i class="icon-dashboard"></i> My Dashboard</h1>
<button class="btn btn-default btn-med pull-right" id="add-dashlet">Add Dashlet</button>
<div class="clearfix"></div>
<div class="gridster">
    <ul id="dashboard">
        {% set dash = attribute(dashboard, "getDisplay")  %}
        {% for colkey, col in dash.columns %}

            {% for rowkey, row in col.rows %}
            <li data-row="{{ rowkey }}" data-col="{{ colkey }}" data-sizex="1" data-sizey="1" class="panel panel-default">
                {% set dashlet = attribute(dashboard, "getDashlet", [row.dashlet])  %}
                <header class="panel-heading">
                    <h3 class="panel-title pull-left">{{ dashlet.title }}</h3>
                    <span class="pull-right dashlet-icons">
                        {% for icon in dashlet.icons %}
                            <a href='{{ icon.link }}'><i class="{{ icon.class }}"></i></a> 
                        {% endfor %}
                    </span>
                    <div class="clearfix"></div>
                </header>

                    {{ dashlet.content|raw }}
            </li>
            {% endfor %}

        {% endfor %}
    </ul>
</div>  
{% endblock %}