<html>
    <head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
       
        <link rel="stylesheet" href="{{ asset('bundles/dccrm/css/app.css') }}" />
        
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
        

        <link rel="stylesheet" href="{{ asset('/css/fontawesome.css') }}">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
          <!--[if IE 7]>
          <link rel="stylesheet" href="{{ asset('css/fontawesome_IE7.css') }}">
          <![endif]-->

       {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
        <script src="https://code.jquery.com/jquery.js"></script>
       
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    {% endblock %}
</head>

<body>

   <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <a class="navbar-brand" href="#"><i class='fa fa-globe'></i> DC CRM</a>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            {{ knp_menu_render('DCCRMBundle:Builder:mainMenu', { 'style': 'navbar', 'template': 'DCCRMBundle:Menu:knp_menu.html.twig' }) }}
            {{ knp_menu_render('DCCRMBundle:Builder:userMenu', { 'style': 'navbar', 'template': 'DCCRMBundle:Menu:knp_menu.html.twig' }) }}
        </div>  
    </nav>
    
    
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="clear"></div>

    <div id="content">
        {% block body %}{% endblock %}
    </div>

     <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <a class="navbar-brand" href="#"><i class='fa fa-globe'></i> DC CRM</a>
        
    </nav>

</body>