{% extends "DCCRMBundle::layout.html.twig" %}

{% block body %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Search <a href="{{ path('account_new') }}"><i class='fa fa-search-circle'></i></a></h3>
    </div>
    
    <div class="panel-body">

    </div>
</div>
             


<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Accounts <a href="{{ path('account_new') }}"><i class='fa fa-plus-circle'></i></a></h3>
            </div>
            <div class="panel-body">
             

    

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phoneoffice</th>
                <th>Website</th>
                <th>Description</th>
                <th>Industry</th>
                <th>Emailaddress</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('account_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.phoneOffice }}</td>
                <td>{{ entity.website }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.industry }}</td>
                <td>{{ entity.emailAddress }}</td>
                <td>         
                   <a href="{{ path('account_edit', { 'id': entity.id }) }}"><i class='fa fa-pencil-square'></i></a>
                   <a href="{{ path('account_show', { 'id': entity.id }) }}"><i class='fa fa-share-square'></i></a>
                   <a href="{{ path('account_show', { 'id': entity.id }) }}"><i class='fa fa-star-o'></i></a>
                   <a href="{{ path('account_show', { 'id': entity.id }) }}"><i class='fa fa-trash-o' style='color:red;'></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
          </div>
    {% endblock %}
