{% extends "DCCRMBundle::layout.html.twig" %}

{% block body %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Search</h3>
    </div>
    
    <div class="panel-body">
        <div id="search">
            {% block search %}

            <form action="{{ path('_default') }}" class="form-inline" method="post" {{ form_enctype(form) }}>
                {{ form(form, { 'style': 'inline' }) }}
            </form>

            {% endblock %}
        </div>
    </div>
</div>
             
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ module|capitalize }} 
            <a href="{{ path('_new', {'module': module}) }}">
                <i class='fa fa-plus-circle'></i>
            </a>
        </h3>
    </div>
    <div class="panel-body">
        {% block list %}
            <table class="records_list">
                <thead>
                    <tr>
                        {% for header in metadata.headers %}
                            <th width="{{ header.options.width }}"> {{ header.name|capitalize }} </th>
                        {% endfor %}
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in records %}
                    <tr>
                        {% for column in metadata.columns %}
                            <td >
                               
                                {% if column.link %}
                                    <a href="{{ path('_show', {'module': module, 'id': entity.id }) }}">
                                {% endif %}
                                {{ attribute(entity, column.name) }}</td>
                                {% if column.link %}
                                    </a>
                                {% endif %}
                        {% endfor %}
                        <td align="right">         
                           <a href="{{ path('_edit', {'module': module, 'id': entity.id }) }}"><i class='fa fa-pencil-square'></i></a>
                           <a href="{{ path('_show', {'module': module, 'id': entity.id }) }}"><i class='fa fa-share-square'></i></a>
                           <a href="{{ path('_show', {'module': module, 'id': entity.id }) }}"><i class='fa fa-star-o'></i></a>
                           <a href="{{ path('_show', {'module': module, 'id': entity.id }) }}"><i class='fa fa-trash-o' style='color:red;'></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock %}
    </div>
</div>
{% endblock %}